#search-btn{
	 background-color: green;
    height: 30px;
    color: white;
    padding:5px;
    border-radius: 5px;
    border: 1px solid green;
}

	<ul class="list-group">
		<li class="list-group-item"><a href="#">Facebook</li>
			<li class="list-group-item"><a href="#">Twitter</li>
				<li class="list-group-item"><a href="#">YouTube</li>
					<li class="list-group-item"><a href="#">Instangram</li>

	</ul>